@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Montserrat', ui-sans-serif, system-ui, sans-serif;

    --color-primary: #25e4ce;
    --color-secondary: #ba84f0;
    --color-accent: #ea57de;
    --color-background: #f2fdfd;
    --color-text-main: #020d0c;
    --color-text-secondary: #49454F;
    --color-surface: #ffffff;
}

/* Custom Base Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

body {
    background-color: var(--color-background);
    color: var(--color-text-main);
}
